
<div class="container">
  <div class="row">
    <div class="col-3">
        <br>
        <%= form_tag "/breeds" do %>
            <%= label_tag :breed, I18n.t(:breed_label), for: "breed"%>
            <%= text_field_tag :breed, '', id: "breed", class: "form-control", required: true %>
            <br>
            <%= submit_tag "Submit", class: "btn btn-primary"%>
            <%= link_to "Clear", root_path, class: "btn btn-primary "%>
        <% end %>
        <br>
        <% if flash[:alert] %>
        <%= flash[:alert] %>
        <% end %>
    </div>
    <div class="col-7">
        <h1><%= @breed %></h1>
        <img src="<%= @img %>", id="breed_img">
    </div>
  </div>
</div>


